// fonts
$body-font: 'League Spartan', sans-serif;
$title-font: 'HelveticaNeueEx';

// media queries
$breakpoint-mp: 576px;
$breakpoint-mt: 992px;

// spacing
$padding-top: 100px;
$padding-bottom: 100px;

$ptm: 50px;
$pbm: 50px;

// mobile
$listing-container-padding: 1.2rem;
$listing-title-font: 1.15rem;
$listing-explore-font: .8rem;
$movie-card-title-font: 1rem;
$movie-card-details-font: .8rem;


$column-gap: 10px;